<%# Go to index %>
<div class="link">
    <%= link_to 'New post', root_path %>
</div>

<%# Show errors %>
<div class="erros">
    <% if @post.errors.any? %>
        <h2>
            <%= pluralize(@post.errors.count, "error") %>
            prohibited this post being saved:
        </h2>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% else %>
        <h1>Your post has been created successfully!</h1>
    <% end %>
</div>
